# Local data / lake outputs
data/

# Spark outputs / artifacts
*.parquet
*.crc
_SUCCESS

# Python
__pycache__/
*.pyc
.pytest_cache/

# Java / Maven
**/target/
*.jar

# IDE
.vscode/
.idea/

# OS
.DS_Store
